@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">

        <h1>Kategori Ekleme</h1>
        <br />

        <form method="post" class="form-group">

            @Html.Label("Kategori Adı")
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br />

            @Html.Label("Açıklama")
            @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br />

            <button class="btn btn-primary">Ekle</button>

        </form>
    </div>
</section>
