@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">

        <h1>Kategori Güncelleme</h1>
        <br />

        <form method="post" class="form-group">

            @Html.HiddenFor(x => x.CategoryId)

            <label>Kategori Adı</label>
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br />

            <label>Açıklama</label>
            @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br />

            <button class="btn btn-primary">Güncelle</button>

        </form>
    </div>
</section>