@model List<EntityLayer.Concrete.Writer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Yazarlar</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                @item.WriterTitle
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@item.WriterName @item.WriterSurname</b></h2>
                                        <p class="text-muted text-sm"><b>Hakkımda : </b> @item.WriterAbout. </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="medium"><span class="fa-li"><i class="fas fa-lg fa-mail-bulk"></i></span> Mail : @item.WriterMail</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefon : @item.WriterPhone</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="~/Templates/AdminLTE-3.0.4/dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="/Heading/HeadingByWriteWriter/@item.WriterId" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments">Yazarın Başlıkları</i>
                                    </a>
                                    <a href="/Writer/UpdateWriter/@item.WriterId/" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> Profilleri Düzenle
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
                <ul class="pagination justify-content-center m-0">
                    <a href="/Writer/AddWriter/" class="btn btn-primary" style="margin-right:25px; width:150px;">Yazar Ekle</a>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                </ul>
            </nav>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</section>
